
<!DOCTYPE html>
<html lang="en">
<head>
     <u><center><h1><font color="maroon">ABOUT US</h1></center></u>

  <title>EW Technologies online learning</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>

     body{
    background-image: url("/media/36.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:100% 100%;


    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    margin: 3px;
    line-height: 20px;
}

</style>
</head>
<body onmousedown='return false;' onselectstart='return false;'>

<div class="container">
    <br><button type="button" class="btn"><a href="http://127.0.0.1:9999/"><font color="blue">Home</font></a></button>
</div>
<div class="col-sm-11">

    <img src= "/media/Chandan1.png" width=130 height=120 align="right"/>

    </div>
<p>
<marquee><h1>
    <span style='color: lime'>C</span><span style='color: fuchsia'>O</span><span style='color: green'>M</span><span style='color: red'>I</span><span style='color:blue'>N</span><span style='color:red'>G</span>
    <span style='color: lime'>S</span><span style='color:magenta'>O</span><span style='color:red'>O</span><span style='color:darkorchid'>N</span><span style='color:blue'> .</span><span style='color:lime'> .</span><span style='color:lime'> .</span></h1></marquee></u>

</p>

</body>
</html>
